.form-check-input {
  width: 1.5vw;
  height: 1.5vw;
  margin-top: 0.5em;
  font-size: 18px;
  background: 0 0;
  border: 3px solid #fbed56;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-check-input:not(:checked) {
  content: "";
  /* position: absolute; */
  vertical-align:middle;
  width: 1.5vw;
  height: 1.5vw;
  background:0 0;
  border: 3px solid #fbed56;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  font-size: 18px;

}
.form-check-input:checked {
  content: "";
  position: relative;
  vertical-align:middle;
  width: 1.5vw;
  height: 1.5vw;
  background:#fbed56 ;
  border: 3px solid #fbed56;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  font-size: 18px;

}
.form-check-input:checked::after{
content: "\2713";
  position: absolute!important;
  /* vertical-align: middle; */
  /* text-align: center; */
  left: .2vw;
  top:.1vw;
  font-weight: 900!important;
  vertical-align:middle;
  /* line-height: .8!important; */
  color: #292929!important;
  transition: all .2s!important;
  font-size: .8vw!important;
  /* font-family: 'Font Awesome'; */
    font-family: fontawesome; 
}
/* label+[type=checkbox]:not(:checked),label+[type=checkbox]:checked{ */
/* [type=checkbox]:not(:checked)+label,[type=checkbox]:checked+label { */
  label > input[type=checkbox]:not(:checked) + div,
label > input[type=checkbox]:checked + div {
  position: relative;
  padding-left: 2em!important;
  cursor: pointer;
  vertical-align:middle;
  font-size: 1.2rem!important;
  font-weight: 600!important;
  letter-spacing: .03em!important;
}
.question {
  font-size: .9vw!important;
  font-weight: 600!important;
  letter-spacing: .03em!important;
  padding: 0;
  margin: 0;
}
.options{
  
    font-size: .8vw!important;
    font-weight: 600!important;
    letter-spacing: .03em!important;
    padding: 0;
    margin: 0;
  
}
.answer {
  padding-left: 3vw;
  padding-top: 2vw;
  color: white;
  background-color: #1f8bc3;
  /* font-size: 0.85vw; */
}
.answers{
  color:#fbed56;
  font-size:.8vw;
  letter-spacing: .03em!important;

}
.form-check{
  margin-top: 1rem;
}


.disabled,
.disabled:hover,
.disabled:active {
 
  font-size: 0.85vw;
  font-weight: 700;
  letter-spacing: -0.02em !important;
  display: inline-block;
  margin-top: 5%;
  border: 2px solid transparent !important;
  padding: 10px 14px;
 
  line-height: normal;
  width: 100%;
  max-width: 10rem;
  height: 3rem;
 
  border-radius: 5px;
  box-shadow: 0 3px 33px rgba(0, 0, 0, 0.12);

  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
 }


.dropdowns {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  display: flex;
  min-width: 10rem;
  transition: max-height 0.5s ease-in-out;
}

.dropdowns.show {
  max-height: 500px; 
  animation: fadeInDown 0.5s ease-in-out forwards;
}

.dropdowns.hide {
  animation: fadeOutUp 0.5s ease-in-out forwards;
}

.dropdown {
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}



/* .dropdowns {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.dropdowns.show {
  max-height: 500px;
  animation: fadeInDown 0.5s ease-in-out forwards;
}

.dropdown {
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
   100% {
    opacity: 1;
    transform: translateY(0);
  }
}  */

.copy-button{
  min-width: 15rem;
  margin-bottom: 4rem;
}